@import "./null";


.ggl, .brand, a, .card, input, .sm{
    cursor: pointer;
}


.slider{
    max-width:100%;
    position: relative;
    height: 75%;
  
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 60px; 
}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
animation-name: fade;
animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}



#myBtnContainer{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#filtersPadding{
    padding: 100px 0px 220px 0px;
}

.filterDiv {
    float: left;
    border: 1px solid #ddd;
    font-family: "Poppins";
    background-color: none;
    color: #000;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; 
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

    .btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}



.box{
    padding: 77px 0px;
}

.box .label {
    position: relative;
    border: 1px solid #ddd;
    padding: 20px; 
    color: #000; 
    cursor: pointer; 
}

.container .box .label::after {
content: "+"; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 20px;
    font-size: 25px;
    font-weight: bold;
}

.container .box.active .label::after {
content: "\2014"; 
}

.container .box .content {
    position: relative;
    background-color: #fff; 
    overflow: hidden;
    max-height: 0; 
    transition: 0.3s; 
}




.header{
    padding: 30px 0;
}

.menu{
    display: flex;
    justify-content: flex-end;
    &__icon{
        display: block;
        width: 50px;
        height: 34px;
        position: relative;
        z-index: 5;
        cursor: pointer;
        span{
            transition: .2s all;
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child{
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &.active{
            span{
                transform:scale(0);
                &:first-child{
                    top: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
                &:last-child{
                    bottom: calc(50% - 1px);
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__body{
        position: absolute;
        top: 0;
        left: -200%;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        transition: .2s all;
        &.active{
            left: 0;
        }
    }
    &__list{
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin: auto;
    }
    &__item a{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 100px;
        &:hover{
            text-decoration: underline;
        }
        
    }
}



p {
    margin: 0 0 10px;
}

.tabs {
    padding: 77px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tabs__nav {
    display: flex;
}

.tabs__nav-btn {
    padding: 10px 40px;
    font-size: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.06em;
    background-color: #f5f5f5;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: #ddd;
}

.tabs__nav-btn.active{
    background-color: #E5C643;
    border-right-color: #E5C643;
    color: #000;
}

.tabs__content {
    padding: 30px 0px;
    background-color: #fff;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}




.black{
    padding: 10px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    background-color: #000;
    border-radius: 10px;
    border: none;
}

.black:hover{
    background-color: #161616;
}

.p32{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.05em;
    color: #191818;
}

h2{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.06em;
    margin-bottom: 118px;
}

.grey{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #7F7F7F;
}

.container {
    margin: 0 auto;
    width: 89%;
    font-family: "Poppins";
}


#overlay {
    text-align: center;
    font-family: 'Poppins';
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
    .popup{
        color: #fff;
        padding: 50px;
        h2{
            margin: 0px 0px 30px 0px;
        }
    }
}


.content{
    max-height: 0;
    overflow: hidden;
}


.first_screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F6F5;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    padding: 77px 119px 0px 199px;
    margin-bottom: 63px;
    .p32{
        margin-top: 40px;
        margin-bottom: 32px;

    }
    .img{
        display: flex;
        align-items: flex-end;
    }
    .maintextandnutton{
        height: 100%;
    }
}

h1{
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 120px;
    color: #000000;
}

.yellowh1{
    color: #EBD96B;
}

.second_screen{
    background-color: #EBD96B;
    .container{
        padding: 70px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        img{
            max-height: 70px;
            max-width: 20%;
        }
    }
}


.third_screen{
    padding: 63px 0px;
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        .card{
            max-width: 808px;
            .cardimg{
                width: 100%;
                cursor: pointer;
            }
            .textimg{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .arrow{
                    cursor: pointer;
                }
                .textcard{
                    .p32{
                        margin: 28px 0px 7px 0px;
                    }
                    

                }
            }
        }
    }
}

.forth_screen{
    .container{
        display: flex;
        align-items: center;
        background-color: #FAE157;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        margin-bottom: 63px;
        .p32{
            margin-top: 40px;
            margin-bottom: 32px;
            max-width: 548px;

        }
        .img{
            display: flex;
            align-items: flex-start;
        }
        .maintextandnutton{
            height: 100%;
            
            .blackh1{
                    max-width: 520px;
            }
            
        }
    }
}




.container{
    .sixth_screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 0px;
    margin-bottom: 63px;
        .maintextandnutton{
            h2{
                max-width: 520px;
                margin-bottom: 0px;
            }
            .grey{
                max-width: 419px;
                line-height: 35px;
                margin: 50px 0px 50px 0px;
                font-family: "Poppins";
            }
        }
    }
    .img{
        display: flex;
        align-items: flex-start;
    }
}

.seventh_screen{
    background-color: #E5C643;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 77px 0px;
        h1{
            color: #FFFFFF;
        }
        .p32{
            margin: 50px;
            color: #FFFFFF;
        }
        .forms{
            input{
                font-family: "Poppins";
                font-size: 24px;
                padding: 20px;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                border: none;

            }
            #blck{
                background-color: #000;
                color: #fff;
            }
        }
    }
}


.footer{
    background-color: #000;
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-between;
        padding: 199px 0px;
        .logo_sm{
            p.grey{
                margin: 32px 0px;
                max-width: 412px;
            }
            .sms{
                display: flex;
                .sm{
                    margin-right: 10px;
                    border-radius:15px ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 52px;
                    height: 52px;
                    background-color: #E5C643;
                    -webkit-border-radius:15px ;
                    -moz-border-radius:15px ;
                    -ms-border-radius:15px ;
                    -o-border-radius:15px ;
                }
            }
        }
        .greys{
            display: flex;
            flex-direction: column;
        }
        .grey:first-child{
            color: #fff;
        }
    }
    
}

.second_page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    padding: 306px 119px 306px 199px;
    margin-bottom: 63px;
    background-image: url(../img/women.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1{
        color: #fff;
    }
    
}



@media only screen and (max-width: 1838px){
    .first_screen{
        flex-direction: column;
        text-align: center;
        padding: 77px 10px 0px 10px;
        img{
            max-width: 90%;
        }

    }
    .third_screen{
        display: flex;
        flex-direction: column;
        align-items: center;
        .cards{
            justify-content: center;
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 1285px){
    h1{
        font-size: 40px;
        line-height: 50px;
    }   
    h2{
        font-size: 30px;

    }
    .grey{
        font-size: 18px;
        line-height: 30px;
    }
    .p32{
        font-size: 22px;
    }
    a.menu__link{
        font-size: 30px;

    }
    .black, .tabs__nav-btn{
        padding: 5px 20px;
        font-size: 20px;
    }
    .second_screen .container{
        justify-content: center;
    }
    .container .sixth_screen{
        flex-direction: column;
        text-align: center;
        img.main{
            width: 100%;
        }
        .maintextandnutton{
            .flex{
                h2{
                    max-width: 100%;
                }
                .grey{
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 511px){
    .tabs__nav{
        display: flex;
        flex-direction: column;
    }
    .label{
        font-size: 20px;
    }
    .forms{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .seventh_screen .container .forms input {
        font-size: 15px;
    }
    #filtersPadding{
        padding: 100px 0px 320px 0px;
    }
}