@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.ggl, .brand, a, .card, input, .sm {
  cursor: pointer;
}

.slider {
  max-width: 100%;
  position: relative;
  height: 75%;
}

.slider .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.slider .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#myBtnContainer {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

#filtersPadding {
  padding: 100px 0px 220px 0px;
}

.filterDiv {
  float: left;
  border: 1px solid #ddd;
  font-family: "Poppins";
  background-color: none;
  color: #000;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.box {
  padding: 77px 0px;
}

.box .label {
  position: relative;
  border: 1px solid #ddd;
  padding: 20px;
  color: #000;
  cursor: pointer;
}

.container .box .label::after {
  content: "+";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.container .box.active .label::after {
  content: "—";
}

.container .box .content {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  padding: 30px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu__icon {
  display: block;
  width: 50px;
  height: 34px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.menu__icon span {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__icon.active span:first-child {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__icon.active span:last-child {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__body {
  position: absolute;
  top: 0;
  left: -200%;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.menu__body.active {
  left: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
.menu__item a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 100px;
}
.menu__item a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 10px;
}

.tabs {
  padding: 77px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__nav-btn {
  padding: 10px 40px;
  font-size: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.06em;
  background-color: #f5f5f5;
  border: 0;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.tabs__nav-btn:last-child {
  border-right: none;
}

.tabs__nav-btn:hover {
  background-color: #ddd;
}

.tabs__nav-btn.active {
  background-color: #E5C643;
  border-right-color: #E5C643;
  color: #000;
}

.tabs__content {
  padding: 30px 0px;
  background-color: #fff;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.black {
  padding: 10px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  background-color: #000;
  border-radius: 10px;
  border: none;
}

.black:hover {
  background-color: #161616;
}

.p32 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #191818;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.06em;
  margin-bottom: 118px;
}

.grey {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #7F7F7F;
}

.container {
  margin: 0 auto;
  width: 89%;
  font-family: "Poppins";
}

#overlay {
  text-align: center;
  font-family: "Poppins";
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.65);
  z-index: 999;
  -webkit-animation: fade 0.6s;
  animation: fade 0.6s;
  overflow: auto;
}
#overlay .popup {
  color: #fff;
  padding: 50px;
}
#overlay .popup h2 {
  margin: 0px 0px 30px 0px;
}

.content {
  max-height: 0;
  overflow: hidden;
}

.first_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F4F6F5;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  padding: 77px 119px 0px 199px;
  margin-bottom: 63px;
}
.first_screen .p32 {
  margin-top: 40px;
  margin-bottom: 32px;
}
.first_screen .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.first_screen .maintextandnutton {
  height: 100%;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
  color: #000000;
}

.yellowh1 {
  color: #EBD96B;
}

.second_screen {
  background-color: #EBD96B;
}
.second_screen .container {
  padding: 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
.second_screen .container img {
  max-height: 70px;
  max-width: 20%;
}

.third_screen {
  padding: 63px 0px;
}
.third_screen .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.third_screen .cards .card {
  max-width: 808px;
}
.third_screen .cards .card .cardimg {
  width: 100%;
  cursor: pointer;
}
.third_screen .cards .card .textimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.third_screen .cards .card .textimg .arrow {
  cursor: pointer;
}
.third_screen .cards .card .textimg .textcard .p32 {
  margin: 28px 0px 7px 0px;
}

.forth_screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAE157;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  margin-bottom: 63px;
}
.forth_screen .container .p32 {
  margin-top: 40px;
  margin-bottom: 32px;
  max-width: 548px;
}
.forth_screen .container .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.forth_screen .container .maintextandnutton {
  height: 100%;
}
.forth_screen .container .maintextandnutton .blackh1 {
  max-width: 520px;
}

.container .sixth_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 77px 0px;
  margin-bottom: 63px;
}
.container .sixth_screen .maintextandnutton h2 {
  max-width: 520px;
  margin-bottom: 0px;
}
.container .sixth_screen .maintextandnutton .grey {
  max-width: 419px;
  line-height: 35px;
  margin: 50px 0px 50px 0px;
  font-family: "Poppins";
}
.container .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.seventh_screen {
  background-color: #E5C643;
}
.seventh_screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 77px 0px;
}
.seventh_screen .container h1 {
  color: #FFFFFF;
}
.seventh_screen .container .p32 {
  margin: 50px;
  color: #FFFFFF;
}
.seventh_screen .container .forms input {
  font-family: "Poppins";
  font-size: 24px;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: none;
}
.seventh_screen .container .forms #blck {
  background-color: #000;
  color: #fff;
}

.footer {
  background-color: #000;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 199px 0px;
}
.footer .container .logo_sm p.grey {
  margin: 32px 0px;
  max-width: 412px;
}
.footer .container .logo_sm .sms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .logo_sm .sms .sm {
  margin-right: 10px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #E5C643;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.footer .container .greys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .container .grey:first-child {
  color: #fff;
}

.second_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  padding: 306px 119px 306px 199px;
  margin-bottom: 63px;
  background-image: url(../img/women.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.second_page h1 {
  color: #fff;
}

@media only screen and (max-width: 1838px) {
  .first_screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 77px 10px 0px 10px;
  }
  .first_screen img {
    max-width: 90%;
  }
  .third_screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third_screen .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1285px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .grey {
    font-size: 18px;
    line-height: 30px;
  }
  .p32 {
    font-size: 22px;
  }
  a.menu__link {
    font-size: 30px;
  }
  .black, .tabs__nav-btn {
    padding: 5px 20px;
    font-size: 20px;
  }
  .second_screen .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sixth_screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container .sixth_screen img.main {
    width: 100%;
  }
  .container .sixth_screen .maintextandnutton .flex h2 {
    max-width: 100%;
  }
  .container .sixth_screen .maintextandnutton .flex .grey {
    max-width: 100%;
  }
}
@media only screen and (max-width: 511px) {
  .tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .label {
    font-size: 20px;
  }
  .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .seventh_screen .container .forms input {
    font-size: 15px;
  }
  #filtersPadding {
    padding: 100px 0px 320px 0px;
  }
}